version: "3"

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    env_file: docker/.env
    ports:
      - 3306:3306
    networks:
      - external

  app:
    build:
      context: .
      dockerfile: docker/php-apache.dockerfile
    container_name: app
    ports:
      - 80:80
    depends_on:
      - mysql
    restart: unless-stopped
    networks:
      - external
    volumes:
      - ./:/var/www/html

  solr:
    image: geerlingguy/solr:latest
    container_name: solr
    ports:
      - 8983:8983
    networks:
      - external
    restart: unless-stopped
    volumes:
      - ./solr-data:/var/solr/data/gradient_core
      - ./docker/
    command: ["/opt/solr/bin/solr", "start", "-p", "8983", "-f", "-force"]  

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    restart: unless-stopped
    networks:
      - external

networks:
  external:
    driver: bridge

